
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

:root {
    --primary-color: #28bf96;
    --primary-color-dark: #209667;
    --text-dark: #111827;
    --text-light: #6b7280;
    --white: #fff;
}

.space-width {
    width: 96%;
    margin: 0 auto;
}


/*  */

.btn {
    padding: 1rem 2rem;
    outline: none;
    border: none;
    font-size: 1rem;
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background-color: var(--primary-color-dark);
}

.container {
    max-width: 1200px;
    margin: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

nav {
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.nav-logo {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--primary-color);
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.link a {
    text-decoration: none;
    color: var(--text-light);
    cursor: pointer;
    transition: 0.3s;
}

.link a:hover {
    color: var(--primary-color);
}

.header {
    padding: 0 1rem; 
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    align-items: center;
}

.content h1 {
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 700;
    color: var(--text-dark);
}

.content h1 span {
    font-weight: 400;
}

.content p {
    margin-bottom: 2rem;
    color: var(--text-light);
    line-height: 1.75rem;
}

.image {
    position: relative;
    text-align: center;
    isolation: isolate;
}

.image-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 500px;
    width: 500px;
    background-color: var(--primary-color);
    border-radius: 100%;
    z-index: -1;
}

.image img {
    width: 100%;
    max-width: 475px;
    margin-left: 70px;
}

.image-content {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    text-align: left;
    background-color: var(--white);
    border-radius: 5px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.image-content-1 {
    transform: translate(calc(-50% - 12rem), calc(-50% - 8rem));
}

.image-content-1 span {
    padding: 10px 12px;
    font-size: 1.5rem;
    color: var(--primary-color);
    background-color: #defcf4;
    border-radius: 100%;
}

.image-content-1 h4 {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-dark);
}

.image-content-1 p {
    color: var(--text-light);
}

.image-content-2 {
    transform: translate(calc(-50% + 8rem), calc(-50% + 10rem));
}

.image-content-2 ul {
    list-style: none;
    display: grid;
    gap: 1rem;
}

.image-content-2 li {
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;
    color: var(--text-light);
}

.image-content-2 span {
    font-size: 1.5rem;
    color: var(--primary-color);
}

.text {
    padding: 20px;
    color: #094b61;
}

.text h2 {
    font-size: 35px;
    text-transform: uppercase;
}

.text h1 {
    font-size: 80px;
}

.text p {
    width: 600px;
    font-size: 20px;
    margin-top: 10px;
}

.container img {
    position: relative;
    height: 700px;
    right: 20%;
}

.barra {
    border: 2px solid #094b61;
    border-radius: 5px;
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 80px;
}

.container-cards h1 {
    font-size: 50px;
    color: #094b61;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 60px;
}

.container-cards img {
    width: 600px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.cards {
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
    width: 80%;
    margin-top: 20px;
}

.card-text p {
    max-width: 600px;
    width: 100%;
    font-size: 18px;
    margin-top: 20px;
    line-height: 1.5;
}

.card-text h2 {
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    color: #094b61;
}

/*  */
.container-sobre {
    margin-top: 150px;
}

.container-sobre h2 {
    font-size: 50px;
    color: #094b61;
    font-weight: 400;
    text-transform: uppercase;
}

 .content-sobre {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;    
    background-color: #eeee;
    min-height: 90vh
} 

.content-sobre img {
    width: 450px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
} 

.sobre-mim {
    width: 600px;
}

.sobre-mim p {
    font-size: 20px;
    margin: 10px 0 15px;
}


.cards-feed {
    max-width: 500px;
    height: 400px;
    background-color: aqua;
}

.feed {
    width: 90%;
    margin: 0 auto;
    display: block;
    justify-content: center;
    align-items: center;
}

.cards-feed img {
    width: 450px;
    border-radius: 10px;
}

.fedd-sobre {
    text-align: center;
}

.fedd-sobre h2 {
    font-size: 50px;
    color: #094b61;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    margin-top: 50px;
}

.container-feedback {
    height: 80vh;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}

.card {
    width: 325px;
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin: 20px;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
}

.card-content {
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100px;
}

.card-content p {
    min-height: 80px;
    font-size: 14px;
    margin-top: 5px;
}

.card-content h3 {
    color: #666;
    font-size: 15px;
    line-height: 1.3;
}

.cards-feedback {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.container-ajuda {
    height: 100vh;
    background-image: url(img/fundo-fisio.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.pontos-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pontos-content p {
    font-size: 25px;
    margin-top: 10px;
}

.pontos {
    display: block;
}

.pontos li {
    font-size: 30px;
    line-height: 0.6;
}

.text-footer {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-footer p {
    font-size: 20px;
}

.text-footer button {
    margin-top: 20px;
    padding: 15px;
    width: 350px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.text-duvidas {
    text-align: center;
    margin-top: 40px;
}

.text-duvidas h1 {
    font-size: 50px;
    width: 900px;
    margin: 0 auto;
    text-transform: capitalize;
}

.text-duvidas p {
    font-size: 25px;
    margin-top: 30px;
}

.container-duvidas {
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto;
    grid-gap: 30px;
    padding: 10px;
    margin-top: 20px;
}

.container-duvidas img {
    width: 40px;
}

.cards-duvidas {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px;
    border-radius: 5px;
    background: linear-gradient(#094b61) padding-box,
    linear-gradient(90deg, #0072ff, transparent) border-box;
    border: 2px solid transparent;
}

footer {
   height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.entre-contato {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nossa-rede {
    display: flex;
    flex-direction: column;
}

.contatos-icons ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.contatos-icons img {
    width: 40px;
}

.contatos-icons li{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    margin-top: 20px;
}

.redes {
    display: flex;
    align-items: center;
    margin-top: 10px;
    gap: 20px;
}

.redes img {
    width: 40px;
    cursor: pointer;
}

.redes img:hover {
    scale: 1.2;
    transition: 0.9s;
}

.barratwo {
    border: 1px solid #094b61;
    width: 450px;
}

.nossa-rede p {
    font-size: 16px;
    width: 400px;
}

.nossa-rede h1 {
    font-size: 40px;
    text-transform: uppercase;
}

/* contatos */

.contatos {
    position: relative;
    background-color: #dcdcdc;
    height: 100vh;
    display: flex;
    align-items: center;
}

.header-contatos {
    background-color: #28bf96;
    height: 60%;
    width: 100%;
    display: flex;
    align-items: center;
}

.description-contatos {
    margin-left: 100px;
    color: #fff;
}

.description-contatos ul {
    list-style: none;
}

.description-contatos li {
    margin-bottom: 50px;
}

.description-contatos p {
    font-size: 20px;
    margin-bottom: 10px;
}

.description-contatos i {
    font-size: 25px;
}

.nosconte {
    width: 600px;
    height: 650px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
}


/*  */


.contatos-titulos {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 50px;
    color: #114e3e;
}

.formulario-contato {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 450px;
    height: 350px;
    margin: 0 auto;
    padding: 2rem;
    border: 1px solid #fff;
    border-radius: 16px;
}

.campo-form {
    width: 100%;
    padding: 1rem;
    border-radius: 8px;
    border: 1px solid #fff;
    outline: none;
}

.campo-form:focus {
    border-color: #fff;
    box-shadow: 0 0 10px #fff;
}

.grupo-form {
    margin-bottom: 1.5rem;
}

.botao-form {
    color: #fff;
    background-color: #28bf96;
    padding: 1rem 2rem;
    border: 1px solid #fff;
    border-radius:8px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    transition: all 0.5s ease;
}

.botao-form:hover {
    transform: translateY(-4px);
    box-shadow: 0 5px 15px #fff;
}

/*  */

@media (max-width: 768px) {

  /* ===== GERAL ===== */
  body {
    overflow-x: hidden;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  /* ===== NAV ===== */
  .nav-links {
    display: none;
  }

  nav {
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }

  /* ===== HEADER ===== */

  .container {
    min-height: auto;
  }

  .header {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 30px;
    display: block; 
    padding: 2rem 1rem; 
    flex: none; 
  }

  .content h1 {
    font-size: 2rem;
    margin-bottom: 10;
  }

  .content p {
    font-size: 1rem;
  }

  .image-bg,
  .image-content {
    display: none;
  }

  .image img {
    display: none;
  }

  /* ===== CARDS SERVIÇOS ===== */
  .cards {
    flex-direction: column;
    gap: 30px;
  }

  .container-cards {
    min-height: auto;
  }

  .cards .img-card {
    order: 1;
  }

  .cards .card-text {
    order: 2;
  }

  .container-cards h1 {
    font-size: 35px;
  }

  .container-cards img {
    max-width: 350px;
    margin: 0 auto;
  }

  .card-text p {
    width: 100%;
    font-size: 1rem;
  }

  .card-text h2 {
    font-size: 1.5rem;
  }

  /* ===== SOBRE ===== */

  .container-sobre {
        margin-top: 40px !important; /* Estava 150px no original */
    }

  .content-sobre {
    flex-direction: column;
    height: auto !important;
    padding: 40px 20px;
    gap: 30px;
    text-align: center;
  }

  .content-sobre img {
    max-width: 280px;
  }

  .sobre-mim {
    width: 100%;
  }

  .sobre-mim p {
    font-size: 1rem;
    text-align: left;
  }

  .sobre-mim h2 {
    font-size: 35px;
  }

  /* ===== AJUDA / DÚVIDAS ===== */
  .container-ajuda {
    height: auto;
    padding: 60px 20px;
  }

  .text-duvidas h1 {
    width: 100%;
    font-size: 1.5rem;
  }

  .text-duvidas p {
    font-size: 1rem;
  }

  .container-duvidas {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  /* ===== FEEDBACK ===== */
  .container-feedback {
    height: auto !important;
    padding: 30px;
  }

  .cards-feedback {
    flex-wrap: wrap;
    gap: 20px;

    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 10px;
  }

  .card {
    margin: 10px 0 !important;
    max-width: 325px;
    width: 90%;
  }

  .card-container {
    margin-top: 0 !important; 
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .fedd-sobre h2 {
    margin-top: 0 !important;
    font-size: 35px;
    margin-bottom: 5px;
  }

  .fedd-sobre p {
    margin-bottom: 10px;
  }

  /* ===== CONTATO ===== */
  .contatos {
    flex-direction: column;
    height: auto;
  }

  .header-contatos {
    height: auto;
    padding: 40px 20px;
  }

  .description-contatos {
    margin-left: 0;
    text-align: center;
  }

  .nosconte {
    position: static;
    width: 95%;
    margin: 30px auto;
  }

  .formulario-contato {
    width: 100%;
  }

}
